
.box{
    border: 1px solid var(--linecolor);
    border-radius: 20px;

    padding: 14px;
}
/*기본 3파트로 나눠지는 grid display*/
.grid3{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 10px;
    justify-content: center;
}

.grid3 .box{
    border-radius: 8px;
}

.grid3 > div{
    padding: 0px;
}

.grid3 > div:hover{
    color: var(--color3);
    cursor: pointer;
}

.gridimg{
    height: 200px;
    text-align: center;
    align-content: center;
    padding: 0;
    overflow: hidden;
}

.gridimg img{
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/*-----------------------------*/



/*----가로 크기에 따라-----------------------*/

@media (width < 1346px) {
    .grid3{
        grid-template-columns: 1fr 1fr;
    }

}
@media (width < 744px) {
    .grid3{
        grid-template-columns: 1fr;
        padding: 0;

    }

}
