

.category1first h2{
    font-weight: 400;
    text-align: center;
}

#container {
    position: relative;
}

.mainboard{

display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
width: 100%;
}


.mainboard .box1 {
 
    position: relative;
    display: table-cell;
    width: 100%;
    
}   

.mainboard .box1 .bg {
    position: relative;
    width: 100%;
    height: 620px;
    background: url("../../img/category1/우리술정의.jpg") center no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.mainboard .box1.customary .bg2 {
    position: relative;
    width: 100%;
    height: 620px;
    background: url("../../img/category1/관습점의미.jpg") center no-repeat;
    background-size: cover;
    border-radius: 10px;
}




.mainboard .box1 .text {
    padding: 40px 30px 20px;
    position: absolute;
    min-height: 300px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    
}



@media (width < 767px) { /*모바일 사이즈*/
   
	.mainboard .box.customary {margin-top:20px;}

    .mainboard{
        grid-template-columns: 1fr;
    }
    
}
