#h1{
    text-align: center;
    top: -30%;

}

/* 제일윗 */
.search {
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    display: flex;
}

/* 선택 */
.searchSelect {
    max-height: 100%;
}

/* 입력창과 버튼 */
.searchInput{
    display: flex;
    max-height: 100%;
}
/* 입력창 */
#searchin{
    padding-left: 8px;
    width: 120px;
    max-height: 100%;
    padding: 0 2px;
}

/* 버튼 */
#button{
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 0 3px 0px 3px;
    border-width: 2px;
    margin-right: 4px;
}

/* 버튼 안에 이미지 */
.board {
    height: 60%;
}



.subha{
    width: 100%;
    height: 200px;
    align-items: center;
}

.img2{
    display: block;
    max-width: 100%;
    max-height: 100%;
    transform: translate(0%, -40%);
}

.grid{

    display: grid;
    padding: 5px;    
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    
}   

/*추가*/
.grid .imgList ul{
    padding-left: 0;
    margin: 0;
    text-align: center;
    max-width: 100%;
}


.spanImg {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.imgList{
    border: 1px solid #dadada;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 200px;
    
}

.screen {
  
    height: 100%;
/* 임의 변경(150%->100%) */
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.screen img{
   
    width: 100%;

}


.as{

    height: 100%;
    width: 100%;
}

.textArea{
    
    font-size: 0.8em;
    letter-spacing: -0.02em;
    margin-top: 18px;
}

.ee{

    font-size: 17px;
    font-weight: bold;
   
}

.sell{
    margin-top: 12px;

        
    /*임의 추가*/
    padding-left: 0;
}

.myBtn {
    font-size: 17px;
    background-color: rgb(180, 166, 147);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 60%;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    width: 40px;
    box-shadow: 2px 2px 0 rgb(0,0,0,0.7);

    
  }


  .myBtn:active {

    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
  }





@media (width < 767px) { /*모바일 사이즈*/


    .grid{

        display: grid;
        padding: 5px;    
        grid-gap: 30px;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        
        
    }   

    .myBtn {
        font-size: 17px;
        background-color: rgb(180, 166, 147);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 60%;
        cursor: pointer;
        margin: 10px;
        height: 40px;
        width: 40px;
        box-shadow: 2px 2px 0 rgb(0,0,0,0.7);
    }
    
    .myBtn:active {

    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
    }

    .screen img{
    transform: translate(0%, -20%);
    }
    
 
    .up{
        text-align: end;
    }
    
}

